div.canvas {
    height: 100%;
    width: 75%;
}

html, body, #app, #root, #root>div {
    height: 100%
  }

.react-flow {
margin: 0;
z-index: 0;
background-image: url("../resources/floor.jfif");
}

.react-flow__node {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: burlywood;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 13pt;
    font-weight: bolder;
}

.react-flow__node.selected {
    background-color:coral;
}