div.drawer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 35%;
    background-color:beige;
    padding: 50px 60px 50px 60px;
    border-color: black;
    border-left: 2px dashed;
    box-sizing: border-box;
}

input {
    border: 0;
    outline: none;
    width: 100%;
    font-size: 16pt;
}


div.drawer-child {
    font-size: 20pt;
    min-height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

div.drawer-child>button {
    float: right;
    border: 0;
    font-weight: bolder;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-left: 5px;
}

div.drawer-child>button.x{
    background-color:rgb(141, 61, 61);
}
div.drawer-child>button.x:hover {
    background-color: rgb(150, 67, 67);
}
div.drawer-child>button.x:focus {
    background-color: rgb(255, 211, 211)
}

div.footer>button {
    float:left;
}


div>button.minus{
    background-color:indianred;
}
div>button.minus:hover {
    background-color: rgb(150, 67, 67);
}
div>button.minus:focus {
    background-color: rgb(255, 211, 211)
}


div.drawer-child>button.plus{
    background-color:forestgreen;
}
div.drawer-child>button.plus:hover {
    background-color: rgb(26, 94, 26);
}
div.drawer-child>button.plus:focus {
    background-color: rgb(157, 245, 157)
}


button.clear{
    border: 0;
    font-weight: bolder;
    height: 40px;
    width: 60px;
    border-radius: 10px;
    margin-left: 5px;
    background-color:indianred;
}
button.clear:hover {
    background-color: rgb(150, 67, 67);
}
button.clear:focus {
    background-color: rgb(255, 211, 211)
}


div.drawer-child.title {
    font-size: 40pt;
    margin-bottom: 20px;
}

div.footer {
    position: absolute;
    bottom: 100px;
    font-size: 30pt;
    border-top: solid;
    width: 75%;
}